.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
main {
    flex: 1;
    overflow-y: auto;
    background-color: #f8fafc;
    padding: 1.5rem;
}

.sidebar {
    background: none;
}
@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }

}