.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.main {
    margin-left: 270px; /* mismo ancho que el sidebar */
    padding: 20px;
    background-color: #F8F9FA;
}


.sidebar {
    background: none;
}
@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }

}