@* 
    NavMenu.razor
    Este componente define el menú lateral de navegación de la aplicación.
    Aquí se colocan los enlaces a las distintas páginas (componentes .razor).
    Por defecto la plantilla incluye: Home, Counter y Weather.
    Se ha eliminado Weather porque era un ejemplo de la plantilla.
    Más adelante aquí se agregará el acceso a la página de Productos.
*@
@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestión de proyectos</a>
        <button title="Toggle navigation" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <div class="d-flex align-items-center">
                    <i class="bi-house-door-fill"></i>
                    <span class="etiqueta">Inicio</span>
                </div>
            </NavLink>
        </div>

        @* Enlace a la página Counter (contador de ejemplo) *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Usuarios">
                <div class="d-flex align-items-center">
                    <i class="bi-person-circle"></i>
                    <span class="etiqueta">Usuarios</span>
                </div>
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipoResponsablePage">
                <div class="d-flex align-items-center">
                    <i class="bi-people-fill"></i>
                    <span class="etiqueta" style="white-space: nowrap;">Tipos de responsables</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipoProyectoPage">
                <div class="d-flex align-items-center">
                    <i class="bi-kanban"></i>
                    <span class="etiqueta" style="white-space: nowrap;">Tipos de proyectos</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="EstadoPage">
                <div class="d-flex align-items-center">
                    <i class="bi-flag-fill"></i>
                    <span class="etiqueta">Estados</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TipoProductoPage">
                <div class="d-flex align-items-center">
                    <i class="bi-diagram-3-fill"></i>
                    <span class="etiqueta" style="white-space: nowrap;">Tipos de Productos</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Entregables">
                <div class="d-flex align-items-center">
                    <i class="bi-card-checklist"></i>
                    <span class="etiqueta">Entregables</span>
                </div>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="VariablesEstrategicas">
                <div class="d-flex align-items-center">
                    <i class="bi-card-checklist"></i>
                    <span class="etiqueta" style="white-space: nowrap;">Variable Estrategica</span>
                </div>
            </NavLink>
        </div>


        @* 
        <div class="nav-item px-3">

        </div> *@
    </nav>
</div>
@code {
    private bool colapsado = true;
    private string? NavMenuCssClass => colapsado ? "collapse" : null;
    private void ToggleNavMenu()
    {
        colapsado = !colapsado;
    }
}