@page "/"
@page "/home"
@using FrontendBlazorApi.Components
@inherits PaginaAutenticada

<PageTitle>Pagina Principal</PageTitle>

<h1>Esta es la pagina principal de la gestión de proyectos</h1>

Bienvenido!
